# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx build directory
build/
docs/_build/

# Environment and packaging files
.venv/
env/
venv/
ENV/
env.bak/
*.egg-info/
*.egg
dist/
*.pyo
*.pyd

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
*.log
